:root {
    --background-card-color: #191717;
    --background-card-content-color: #403a3a;
    --text-color: #FEFCF3;
    --search-bar-color: #F6F6F6;
    --search-bar-text-color: #7D7C7C;
    --search-button-color: #5755FE;
    --search-button-color-hover: #8B93FF;
    --search-button-color-hover-svg: #212121;

    --font-family: "Popins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://source.unsplash.com/1600x900/?weather');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    width: auto;
    padding: 24PX 16px 16px 16px;
    border-radius: 24px;
    background-color: var(--background-card-color);
}

.card_search {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.card_search_bar {
    border: none;
    border-radius: 8px;
    outline: none;
    padding: 10px;
    width: 80%;
    background-color: var(--search-bar-color);
    font-family: var(--font-family);
    font-weight: 400;
}

.card_search_bar::placeholder {
    font-family: "Popins", sans-serif;
    font-weight: 400;
    color: var(--search-bar-text-color);
}

.card_search_button {
    border: none;
    outline: none;
    cursor: pointer;
    width: 15%;
    border-radius: 8px;
    background-color: var(--search-button-color);
}

.card_search_button:hover {
    background-color: var(--search-button-color-hover);
    transition: 0.3s ease;
}

.card_search_button svg {
    width: 25px;
}

.card_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.card_description_title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text-color);
}

.card_description_weather {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    text-transform: capitalize;
}

.card_content_description_weather_img {
    width: 40px;
}

.card_content_description_weather_info {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
}

.card_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card_content_legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 15px;
    height: 100%;
    border-radius: 8px;
    background-color: var(--background-card-content-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
}

.card_content_legend_temperature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid var(--search-button-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
}

.card_content_legend_temperature_current {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--text-color);
}

.card_content_legend_grup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding:25px;
    border-bottom: 1px solid var(--search-button-color);
}

.card_content_legend_group_temperature_max {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
}

.card_content_legend_group_temperature_min {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
}

.card_content_legend_sensation {
    text-align: center;
    padding: 25px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
}

.card_content_air {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 100%;
    border-radius: 8px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    background-color: var(--background-card-content-color);
}

.card_content_air_title {
    width: 100%;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
}

.card_content_air_humidity {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 15px;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid var(--search-button-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
}

.card_content_air_pressure {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: 10px;
    width: 100%;
    padding: 30px 0px;
    border-bottom: 1px solid var(--search-button-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
}

.card_content_air_wind {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
}

 
.baseboard {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--text-color);
    padding: 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--background-card-color);
}

/*Responsividade Monitores*/
@media (width >= 1600px) {
    .card {
        width: 18%;
    }
}

/*Responsividade desktop*/
@media (width <= 1200px) {
    .card {
        width: 40%;
    }
}

/*Responsividade tablet grandes*/
@media (width <= 992px) {
    .card {
        width: 50%;
    }
}

/*Responsividade tablets pequenos*/
@media (width <= 768px) {
    .card {
        width: 50%;
    }
}

/*Responsividade smartphones*/
@media (width <= 576px) {
    .card {
        width: 80%;
    }
}

/*Responsividade dispositivos pequenos*/
@media (width <= 400px) {
    .card {
        width: 100%;
        scale: 0.8;
    }
}