:root {
    --background-color: #D6D6DB;
    --asside-color: #F2F2F2;
    --text-color: #3C3B3C;
    --description-color: #666364;
    --emphasis-color: #88A6BB; 
    
    /*Familia da font utilizada*/
    --font-family: "Popins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

/*Estilização da barra lateral*/
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px 32px;
    background-color: var(--asside-color);
}

.sidebar-header-search {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.sidebar-header-search-text {
    border: none;
    outline: none;
    padding: 10px;
    width: 200px;
    border-radius: 12px 0px 0px 12px;
    background-color: #FFFFFF;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--text-color);
}

.sidebar-header-search-text::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--description-color);
}

.sidebar-header-search-button {
    border: none;
    outline: none;
    width: 50px;
    padding: 4px 10px;
    border-radius: 0px 12px 12px 0px;
    background-color: var(--emphasis-color);
}

.sidebar-header-search-button-icon {
    width: 30px;
}

.sidebar-header-title-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 30px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar-content-image-icon {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    filter: drop-shadow(0px 5px 200px);
}

.sidebar-content-description-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 3rem;
    color: var(--text-color);
    text-align: start;
    margin-bottom: 5px;
}

.sidebar-content-description-info {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    text-align: start;
    text-transform: capitalize;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--description-color);
}

.sidebar-content-information {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--text-color);
    text-align: start;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

/*Estilização do conteúdo principal - o main*/
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 40px;
}

/*Estilização da previsão nos próximos 5 dias*/
.card-week-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-week-content-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: start;
    text-transform: capitalize;
}

.card-week-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 85px;
}

.card-week-content-container-card {
    padding: 15px 43px;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-week-content-container-card-date {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: center;
    text-transform: capitalize;
}

.card-week-content-container-card-icon {
    width: 64px;
    height: 64px;
    margin: 7px 0px;
    filter: drop-shadow(0px 5px 60px);
}

.card-week-content-container-card-temp {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: center;
    text-transform: capitalize;
}




/*Estilização da seção de destaque do dia*/
.card-today-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card-today-content-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: start;
    text-transform: capitalize;
}

.card-today-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 200px;
}


/*Estilização cartão humidade*/
.card-today-content-container-humidity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 200px;
    padding: 30px;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-today-content-container-humidity-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: start;
    text-transform: capitalize;
}

.card-today-content-container-humidity-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}

.card-today-content-container-humidity-info-icon {
    width: 64px;
    height: 64px;
    filter: drop-shadow(0px 5px 60px);
}

.card-today-content-container-humidity-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}


/*Estilização cartão velocidade do vento*/
.card-today-content-container-wind {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 200px;
    padding: 30px;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-today-content-container-wind-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: start;
    text-transform: capitalize;
}

.card-today-content-container-wind-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}

.card-today-content-container-wind-info-icon {
    width: 64px;
    height: 64px;
    filter: drop-shadow(0px 5px 60px);
}

.card-today-content-container-wind-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}


/*Estilização cartão nascer do sol*/
.card-today-content-container-sunrise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 200px;
    padding: 30px;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-today-content-container-sunrise-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: start;
    text-transform: capitalize;
}

.card-today-content-container-sunrise-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}

.card-today-content-container-sunrise-info-icon {
    width: 64px;
    height: 64px;
    filter: drop-shadow(0px 5px 60px);
}

.card-today-content-container-sunrise-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}


/*Estilização cartão qualidade do ar*/
.card-today-content-container-air {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 200px;
    padding: 30px;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-today-content-container-air-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: start;
    text-transform: capitalize;
}

.card-today-content-container-air-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}

.card-today-content-container-air-info-icon {
    width: 64px;
    height: 64px;
    filter: drop-shadow(0px 5px 60px);
}

.card-today-content-container-air-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}


/*Estilização cartão visibilidade*/
.card-today-content-container-visibility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 200px;
    padding: 30px;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-today-content-container-visibility-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: start;
    text-transform: capitalize;
}

.card-today-content-container-visibility-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}

.card-today-content-container-visibility-info-icon {
    width: 64px;
    height: 64px;
    filter: drop-shadow(0px 5px 60px);
}

.card-today-content-container-visibility-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}


/*Estilização cartão por do sol*/
.card-today-content-container-sunset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 200px;
    padding: 30px;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-today-content-container-sunset-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: start;
    text-transform: capitalize;
}

.card-today-content-container-sunset-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}

.card-today-content-container-sunset-info-icon {
    width: 64px;
    height: 64px;
    filter: drop-shadow(0px 5px 60px);
}

.card-today-content-container-sunset-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}
























.baseboard {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--text-color);
    padding: 8px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: var(--emphasis-color); 
}

/*Responsividade Monitores*/
@media (width >= 1600px) {
    .card {
        width: auto;
    }
}

/*Responsividade desktop*/
@media (width <= 1200px) {
    body {
        gap: 20px;
    }

    .card {
        width: auto;
    }
}

/*Responsividade tablet grandes*/
@media (width <= 992px) {
    .card {
        width: auto;
    }
}

/*Responsividade tablets pequenos*/
@media (width <= 768px) {
    .card {
        width: 80%;
    }

    .card_search {
        width: 80%;
    }

}

/*Responsividade smartphones*/
@media (width <= 576px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        padding-top: 50px;
    }
    .card {
        width: 80%;
        align-items: center;
    }

    .card_search {
        width: 80%;
    }

    .card_content {
        flex-direction: column;
    }

    .card_content_air {
        gap: 20px;
    }

    .baseboard {
        position: relative;
    }
}

/*Responsividade dispositivos pequenos*/
@media (width <= 400px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        padding-top: 50px;
    }

    .card {
        width: 80%;
        align-items: center;
    }

    .card_search_bar {
        width: 80%;
    }

    .card_search_button {
        width: 15%;
    }

    .card_content {
        flex-direction: column;
    }

    .card_content_air {
        gap: 20px;
    }
    
    .baseboard {
        position: relative;
    }
}