:root {
    --background-color: #D6D6DB;
    --asside-color: #F2F2F2;
    --text-color: #3C3B3C;
    --description-color: #666364;
    --emphasis-color: #88A6BB; 
    
    /*Familia da font utilizada*/
    --font-family: "Popins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    height: 100vh;
    background-color: var(--background-color);
}

/*Estilização da barra lateral*/
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
    width: 25%;
    gap: 40px;
    padding: 0 32px;
    background-color: var(--asside-color);
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.sidebar-header-search {
    display: flex;
    width: 100%;
}

.sidebar-header-search-text {
    border: none;
    outline: none;
    padding: 10px;
    width: 80%;
    border-radius: 8px 0px 0px 8px;
    background-color: #FFFFFF;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--text-color);
}

.sidebar-header-search-text::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--description-color);
}

.sidebar-header-search-button {
    border: none;
    outline: none;
    width: 20%;
    padding: 4px 10px;
    cursor: pointer;
    border-radius: 0px 8px 8px 0px;
    background-color: var(--emphasis-color);
}

.sidebar-header-search-button-icon {
    width: 30px;
}

.sidebar-header-title-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--text-color);
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sidebar-content-image-icon {
    width: 200px;
    height: 200px;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.1));
}

.sidebar-content-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 100%;

}

.sidebar-content-description-temperature-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 3rem;
    color: var(--text-color);
}

.sidebar-content-description-temperature-info {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    text-transform: capitalize;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--description-color);
}

.sidebar-content-temperature {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.sidebar-content-temperature-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--text-color);
    text-transform: capitalize;
}

.sidebar-content-temperature-min {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--text-color);
    text-transform: capitalize;
}

.sidebar-content-temperature-max {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--text-color);
    text-transform: capitalize;
}

.sidebar-content-temperature-sensation {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--text-color);
    text-transform: capitalize;
}

.sidebar-baseboard {
    padding: 10px 15px;
    border-radius: 8px;
    width: 100%;
    background-image: url(https://i.postimg.cc/qqsNt020/card-cloud.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
}

.sidebar-baseboard-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-baseboard-time-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

.sidebar-baseboard-time-group-day {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--asside-color);
}

.sidebar-baseboard-time-group-date {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--asside-color);
}

.sidebar-baseboard-hour-text {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--asside-color);
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.3));
}




/*Estilização do conteúdo principal - o main*/
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 75%;
    height: 95%;
    padding: 40px;
}


/*Estilização da previsão nos próximos 5 dias*/
.card-week-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: start;
    text-transform: capitalize;
    padding-bottom: 40px;
}

.card-content-week {
    overflow: hidden; 
    margin: 0 50px;
}

.card-week-content-container-card-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 43px;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-week-content-container-card-one-day {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: center;
    text-transform: capitalize;
}

.card-week-content-container-card-one-icon {
    width: 64px;
    height: 64px;
    margin: 7px 0px;
    filter: drop-shadow(0px 5px 60px);
}

.card-week-content-container-card-one-temp {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: center;
    text-transform: capitalize;
}

.card-week-content-container-card-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 43px;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-week-content-container-card-two-day {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: center;
    text-transform: capitalize;
}

.card-week-content-container-card-two-icon {
    width: 64px;
    height: 64px;
    margin: 7px 0px;
    filter: drop-shadow(0px 5px 60px);
}

.card-week-content-container-card-two-temp {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: center;
    text-transform: capitalize;
}

.card-week-content-container-card-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 43px;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-week-content-container-card-three-day {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: center;
    text-transform: capitalize;
}

.card-week-content-container-card-three-icon {
    width: 64px;
    height: 64px;
    margin: 7px 0px;
    filter: drop-shadow(0px 5px 60px);
}

.card-week-content-container-card-three-temp {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: center;
    text-transform: capitalize;
}

.card-week-content-container-card-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 43px;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-week-content-container-card-four-day {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: center;
    text-transform: capitalize;
}

.card-week-content-container-card-four-icon {
    width: 64px;
    height: 64px;
    margin: 7px 0px;
    filter: drop-shadow(0px 5px 60px);
}

.card-week-content-container-card-four-temp {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: center;
    text-transform: capitalize;
}

.card-week-content-container-card-five {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 43px;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-week-content-container-card-five-day {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: center;
    text-transform: capitalize;
}

.card-week-content-container-card-five-icon {
    width: 64px;
    height: 64px;
    margin: 7px 0px;
    filter: drop-shadow(0px 5px 60px);
}

.card-week-content-container-card-five-temp {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: center;
    text-transform: capitalize;
}




/*Estilização da seção de destaque do dia*/
.card-today-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--text-color);
    text-align: start;
    text-transform: capitalize;
    padding-bottom: 40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content {
    overflow: hidden;
    margin: 0 50px;
}

/*Estilização cartão humidade*/
.card-today-content-container-humidity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    width: 200px;
    height: 200px;
    padding: 30px;
    overflow: hidden;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-today-content-container-humidity-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: start;
    text-transform: capitalize;
}

.card-today-content-container-humidity-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-today-content-container-humidity-info {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}

.card-today-content-container-humidity-info-icon {
    width: 64px;
    height: 64px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-today-content-container-humidity-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}

/*Estilização cartão velocidade do vento*/
.card-today-content-container-wind {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 15px;
    width: 200px;
    height: 200px;
    padding: 30px;
    overflow: hidden;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-today-content-container-wind-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: start;
    text-transform: capitalize;
}

.card-today-content-container-wind-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-today-content-container-wind-info-value {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color);
    text-align: start;
}

.card-today-content-container-wind-info-unit {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    text-align: start;
}

.card-today-content-container-wind-info-icon {
    width: 64px;
    height: 64px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-today-content-container-wind-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    text-align: center;
    text-transform: capitalize;
}

/*Estilização cartão nascer do sol*/
.card-today-content-container-sunrise {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 25px;
    width: 200px;
    height: 200px;
    padding: 30px;
    overflow: hidden;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-today-content-container-sunrise-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: start;
    text-transform: capitalize;
}

.card-today-content-container-sunrise-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.card-today-content-container-sunrise-group-info-value {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color);
    text-align: start;
    text-transform: capitalize;
}

.card-today-content-container-sunrise-group-info-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    text-align: start;
    text-transform: capitalize;
}

.card-today-content-container-sunrise-info-icon {
    width: 64px;
    height: 64px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

/*Estilização cartão por do sol*/
.card-today-content-container-sunset {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 25px;
    width: 200px;
    height: 200px;
    padding: 30px;
    overflow: hidden;
    border-radius: 12px;
    background-color: var(--asside-color);
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.card-today-content-container-sunset-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--description-color);
    text-align: start;
    text-transform: capitalize;
}

.card-today-content-container-sunset-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.card-today-content-container-sunset-group-info-value {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 2rem;
    color: var(--text-color);
    text-align: start;
    text-transform: capitalize;
}

.card-today-content-container-sunset-group-info-description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1rem;
    color: var(--text-color);
    text-align: start;
    text-transform: capitalize;
}

.card-today-content-container-sunset-info-icon {
    width: 64px;
    height: 64px;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
}

.swiper-button-next,
.swiper-button-prev {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--description-color);
    display: none;
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    background-color: var(--description-color);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--emphasis-color);
}



/*Estilização do rodapé*/
.baseboard {
    padding: 10px;
    width: 100%;
    background-color: var(--emphasis-color); 
}

.baseboard_content_text {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--text-color);
}



/*Responssividade*/
@media (min-width:1px) and (max-width: 344px) {
    body {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        height: 100%;
        padding: 80px 32px;
    }

    .card {
        width: 100%;
        justify-content: center;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }

}

/*Responsividade smartphone*/
@media (min-width:345px) and (max-width: 400px) {
    body {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        height: 100%;
        padding: 80px 32px;
    }

    .card {
        width: 100%;
        justify-content: center;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }

}

/*Responssividade smartphones maiores*/
@media (min-width: 401px) and (max-width: 570px) {
    body {
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        height: 100vh;
        padding: 100px 96px;
    }

    .card {
        width: 100%;
        padding: 50px;
        justify-content: center;
    }

    .card-content-week {
        max-width: 130px;
    }

    .card-content {
        max-width: 230px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }
}

/*Responssividade tablet pequeno*/
@media (min-width: 571px) and (max-width: 768px) {
    body {
        justify-content: start;
        
    }

    .sidebar {
        width: 40%;
        height: 100vh;
        padding: 32px;
    }

    .card {
        width: 60%;
        padding: 50px;
        justify-content: center;
    }

    .card-content-week {
        max-width: 130px;
    }

    .card-content {
        max-width: 230px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }

    .baseboard {
        position: absolute;
        bottom: 0;
    }

}

/*Responssividade tablet*/
@media (min-width: 769px) and (max-width: 912px) {
    body {
        justify-content: start;
    }

    .sidebar {
        width: 40%;
        height: 100vh;
    }

    .card {
        width: 60%;
        padding: 50px;
        justify-content: center;
    }

    .card-content-week {
        max-width: 130px;
    }

    .card-content {
        max-width: 230px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }

    .baseboard {
        position: absolute;
        bottom: 0;
    }
}

/*Resonssividade tablet grande*/
@media (min-width: 913px) and (max-width: 1024px) {
    body {
        justify-content: start;
    }

    .sidebar {
        width: 35%;
        height: 100vh;
    }

    .card {
        gap: 100px;
        width: 65%;
        padding: 50px;
        justify-content: center;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }

    .baseboard {
        position: absolute;
        bottom: 0;
    }
}

/*Resonssividade tablet grande*/
@media (min-width: 1025px) and (max-width: 1500px) {
    body {
        justify-content: start;
    }

    .sidebar {
        width: 10px;
        height: 100vh;
    }

    .card {
        gap: 100px;
        width: 65%;
        padding: 50px;
        justify-content: center;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }

    .baseboard {
        position: absolute;
        bottom: 0;
    }
};























/* Responsividade desktop
@media only screen and (min-width: 1537px) {

    .sidebar {
        height: 97%;
        gap: 80px;
    }

    .sidebar-header {
        gap: 80px;
        width: 80%;
    }

    .sidebar-content {
        gap: 80px;
        width: 80%
    }

    .sidebar-content-temperature {
        padding: 10px 20px;
    }

    .sidebar-baseboard {
        width: 80%
    }

    .card {
        height: 97%;
        gap: 80px;
        padding: 80px;
    }

    .card-week-content-container {
        padding: 0px 120px;
    }

    .card-today-content-container {
        padding: 0px 120px;
    }

    .baseboard {
        position: absolute;
        bottom: 0;
    }
}

@media only screen and (max-width: 1280px) {

    .sidebar {
        height: 97%;
        gap: 20px;
    }

    .sidebar-header {
        gap: 40px;
        width: 80%;
    }

    .sidebar-content {
        gap: 20px;
        width: 80%
    }

    .sidebar-content-temperature {
        padding: 10px 20px;
    }

    .sidebar-baseboard {
        width: 80%
    }

    .card {
        height: 97%;
        gap: 80px;
        padding: 40px;
    }

    .card-week-content-container {
        padding: 0px 20px;
    }

    .card-today-content-container {
        padding: 0px 20px;
    }

    .baseboard {
        position: absolute;
        bottom: 0;
    }
}

@media only screen and (max-width: 1024px) {

    .card {
        height: 97%;
        gap: 80px;
        padding: 40px;
    }

    .card-week-content-container {
        padding: 0px 80px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .card-today-content-container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px 20px;
    }

    .baseboard {
        scale: 0;
    }

} */


/* @media (width >= px) {

    .sidebar {
        height: 100vh;
        gap: 40px;
    }

    .card {
        height: 100vh;
        padding: 40px;
        justify-content: space-evenly;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: block;
    }

    .baseboard {
        position: absolute;
        bottom: 0;
        padding: 8px;
    }
}


/*Responsividade para Notebooks
@media (width >px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

/*Responsividade para monitores
@media (width >= 1600px) {

    .sidebar {
        height: 100vh;
        padding: 64px;
        justify-content: space-evenly;
    }

    .sidebar-header {
        gap: 80px;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .card {
        height: 100vh;
        justify-content: space-evenly;
        padding: 80px;
    }

    .baseboard {
        position: absolute;
        bottom: 0;
    }

} */